.football-field {
  width: 400px;
  position: relative;
  height: 200px;
  border: 1px solid #212121;
  background: green;
}

.ball {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: red;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  /* margin: 0; */
}

.slider {
  position: relative;
  display: inline-block;
  margin: 0 auto;

  color: #ffffff;
}

.slider__image {}

.counter {
  position: absolute;
  top: 20px;
  left: 20px;
}

.current__counter {}

.all__counter {}

.slider__buttons {}

.left__btn {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  font-size: 25px;
  border: none;
  color: #ffffff;
  background-color: transparent;
}

.right__btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  font-size: 25px;
  border: none;
  color: #ffffff;
  background-color: transparent;
}

.slider__item {}

.slider__pagination-list {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.slider__description {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
}

.pagination-list__item {}

.pagination-list__item+.pagination-list__item {
  margin-left: 10px;
}

.pagination-list__btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  background-color: gray;
}


.active {
  background-color: tomato;
}