h1 {
  color: red;
  font-size: 52px;
}
.btn {
  display: block;
  margin-left: auto;
}

/* Chat boxs */
.box {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

/* Darker chat box */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.box::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.box img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.box img.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}

.container.is-hidden {
  display: none;
}

.js-chatboxes {
  margin: 20px auto;
  border: 1px solid teal;
  border-radius: 5px;
  padding: 5px;
  max-height: 70vh;
  min-height: 50vh;
  overflow-y: auto;
}

.js-file-input {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
  margin: -1px;
}

.js-label-input {
  display: flex;
  background-color: teal;
  color: #fff;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
}

.img-wraper.right {
  justify-content: flex-end;
}

.img-wraper {
  display: flex;
  position: relative;
}

.time-photo {
  position: absolute;
  bottom: 0;
  right: 30px;
  color: #fff;
}
